*{
    font-family: 'Righteous', cursive;
    color:rgb(145, 141, 141) !important;
    font-size: 20px;
}
body{
    background-color:rgb(168, 118, 42) !important;
}

.navbar-brand span{
    color: rgb(252, 170, 77) !important;
    font-size: 18px;
}






.banner{
    height: 655px;
    background-color: rgb(168, 118, 42);
    background-image: url('https://images.pexels.com/photos/838413/pexels-photo-838413.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
   
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.banner_content{
    border-radius: 30px;
}

.padd{
    padding: 20px;
}
.padd h2{
    text-align: center
}
.btn{
    color: black !important;
}
.banner_title{
    color: rgb(107, 102, 101)!important;
}
.banner_title1{
    color: rgb(184, 179, 178)!important;
    margin-left: 180px;
}
.banner_title span{
    color:  rgb(107, 102, 101)!important;
    font-size: 40px;
    
}
.nav-link:hover{
    color: rgb(241, 134, 11) !important;
    transform: scale(1.1);
}



/* about section */
.banner2{
    height: 655px;
    background-color: rgb(168, 118, 42);
}

.banner2_content{
    height: 600px;
    width: 1430px !important;
    border-radius: 30px;
    margin-left: 30px;
    padding: 18px !important;
    text-align: start;
    
}
.banner_p2{
    color:black !important;
}
.padd2{
    padding: 20px;
}
.padd2 h2{
    text-align: start;
}
.btn{
    color: black !important;
}
.banner2_title{
    color: rgb(250, 171, 2)!important;
}

.banner2_title span{
    color:  rgb(107, 102, 101)!important;
    font-size: 40px;
    
}


/* projects section  */

.banner3{
    height: 655px;
    background-color:  rgb(168, 118, 42);
    margin-bottom: 400px;
}
.banner3_content{
    height: 990px;
    width: 1430px !important;
    border-radius: 30px;
    margin-left: 30px;
    padding: 18px !important;
    text-align: start;
    
}
.banner3_title{
    color: rgb(250, 171, 2)!important;
    text-align: center;
}
img{
    margin-top: 15px;
    border-radius: 20px;
    height: 225px;
}
.card{
    margin-bottom: 40px;
    color: white;
    border: none !important;
}


/* contact-section */
.banner4{
    height: 655px;
    background-color:  rgb(168, 118, 42);
    display: flex;
    justify-content: center;
}

.banner4_content{
    height: 600px;
    width: 1420px !important;
    border-radius: 30px;
    padding: 18px !important;
    
    
}
.banner_p4{
    color: rgb(170, 145, 138) !important;
}
.padd4{
    padding: 20px;
    
}
.padd4 h2{
    text-align: start;
}
.btn{
    color: black !important;
}
.banner4_title{
    color: rgb(250, 171, 2)!important;
}

.banner4_title span{
    color: rgb(107, 102, 101)!important;
    font-size: 40px;
    
}

.form-group{
    margin: 0 0 30px 30px;
    display: flex;
    border-radius: 20px;
}

.banner5{
    text-align: center;
}